#root {
	display: flex;
	justify-content: center;
}

.main-box {
	width: 100vw;
	height: 100vh;
	padding: 0 18px;
}

.header-block {
	padding-top: 12px;
	padding-bottom: 24px;
	.logo {
		text-transform: lowercase;
		font-size: 36px;
		text-align: left;
		white-space: nowrap;
		transition: font-size ease-in 200ms;
	}
}

/* navigation */
.navigation-bar {
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.navigation-underline {
	position: relative;
	width: 100%;
	color: var(--font-color-main);
	border: 0;
	border-top: 1px solid var(--font-color-main);
	border-bottom: 1px solid transparent;
	height: 1px;
	transition: border-bottom ease-in-out 200ms;
}

.navigation-button {
	flex-grow: 1;
	font-size: 18px;
	margin: 0 8px;
}

.pageActive {
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}

.navigation-button:first-of-type {
	margin-left: 0;
}

.navigation-button:last-of-type {
	margin-right: 0;
}

.navigation-button:focus {
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}

.navigation-button:hover {
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}

.project-block {
	.title-section {
		width: 100%;
		padding: 0 0 8px 0;
		.title-text {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
		}
		.navigation-underline {
			position: relative;
			width: 100%;
			color: var(--font-color-main);
			border: 0;
			border-top: 1px solid var(--font-color-main);
			border-bottom: 1px solid transparent;
			height: 1px;
			transition: border-bottom ease-in-out 200ms;
		}
		.date-started {
			font-style: italic;
			font-weight: normal;
			color: var(--font-color-hover);
			font-size: 12px;
		}
	}
	.blocks {
		.upper-block {
			.imageGroup {
				img {
					width: 100%;
					border-radius: 5px;
				}
				.image-caption {
					font-size: 10px;
					color: var(--font-color-hover);
					text-align: right;
				}
			}
			.description {
				padding: 16px 0;
			}
		}
		.list-block {
			padding: 16px 0;
			ul,
			ol {
				padding: 0;
				margin: 8px 0px;
				list-style-position: inside;
			}
			ul {
				list-style-type: '- ';
			}
		}
	}
}

.title-section a:hover {
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}
.title-section a:focus {
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}

@media screen and (min-width: 480px) {
	.header-block {
		.logo {
			font-size: 48px;
		}
	}
}
@media screen and (min-width: 680px) {
	.project-block {
		.upper-block {
			margin: 0 8px;
			display: flex;
			width: 100%;
			.imageGroup {
				flex-basis: 50%;
				margin: 0 8px 0 0;
			}
			.description {
				margin: 0 0 0 8px;
				flex-grow: 1;
			}
		}
		.upper-block:first-child {
			margin-left: 0px;
		}
		.upper-block:last-child {
			margin-right: 0px;
		}
		.blocks {
			.navigation-underline {
				margin-top: 8px;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.main-box {
		padding: 18px 48px;
	}
	.header-block {
		.logo {
			font-size: 72px;
		}
	}
}
@media screen and (min-width: 1024px) {
	.main-box {
		width: calc(1024px - 96px);
	}
}
@media screen and (max-width: 1200px) {
}
