.footer {
	padding-top: 32px;
	font-size: 16px;
	color: var(--font-color-ultralight);
	div {
		padding-top: 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	div a {
		color: var(--font-color-ultralight);
		transition: color ease-in-out 200ms;
	}
	.navigation-underline {
		border-top-color: var(--font-color-ultralight);
	}
}

.footer a:hover {
	color: var(--font-color-main);
}
.footer a:focus {
	color: var(--font-color-main);
}

@media screen and (min-width: 680px) {
	.footer {
		div {
			flex-direction: row;
		}
	}
}
