.header-block {
	padding-top: 12px;
	padding-bottom: 24px;
	.logo {
		text-transform: lowercase;
		font-size: 36px;
		text-align: left;
		white-space: nowrap;
		transition: font-size ease-in 200ms;
	}
}

@media screen and (min-width: 480px) {
	.header-block {
		.logo {
			font-size: 48px;
		}
	}
}

@media screen and (min-width: 768px) {
	.header-block {
		.logo {
			font-size: 72px;
		}
	}
}
