.navigation-button {
	font-weight: normal;
	grid-row: 1;
	grid-column: auto;
	font-size: 18px;
}

.navigation-button:first-of-type {
	margin-left: 0;
}

.navigation-button:last-of-type {
	margin-right: 0;
}

.navigation-underline {
	position: relative;
	width: 100%;
	color: var(--font-color-main);
	border: 0;
	border-top: 1px solid var(--font-color-main);
	border-bottom: 1px solid transparent;
	height: 1px;
	transition: border-bottom ease-in-out 200ms;
}

.pageActive {
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}

.navigation-button:focus {
	color: var(--font-color-main);
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}

.navigation-button:hover {
	color: var(--font-color-main);
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}
