.project-block {
	.title-section {
		width: 100%;
		padding: 0 0 8px 0;
		.title-text {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
		}
		.navigation-underline {
			width: 100%;
			color: var(--font-color-main);
			border: 0;
			border-top: 1px solid var(--font-color-main);
			border-bottom: 1px solid transparent;
			height: 1px;
			transition: border-bottom ease-in-out 200ms;
		}
		.date-started {
			font-style: italic;
			font-weight: normal;
			color: var(--font-color-hover);
			font-size: 16px;
		}
	}
	.blocks {
		.imageGroup {
			img {
				width: 100%;
				border-radius: 5px;
			}
			.image-caption {
				font-size: 10px;
				color: var(--font-color-hover);
				text-align: right;
			}
		}
		.description {
			padding: 16px 0;
		}
	}
	.list-block {
		padding: 16px 0;
		ul,
		ol {
			padding: 0;
			margin: 8px 0px;
			list-style-position: inside;
		}
		ul {
			list-style-type: '- ';
		}
	}
}

.title-section a:hover {
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}
.title-section a:focus {
	.navigation-underline {
		border-bottom: 1px solid var(--font-color-main);
	}
}

@media screen and (min-width: 680px) {
	.project-block {
		.blocks {
			display: grid;
			gap: 8px;
			grid-auto-columns: 1fr;
			width: 100%;
			.navigation-underline {
				margin-top: 8px;
				border-top-color: var(--font-color-hover);
			}
			.imageGroup {
				grid-row: 1;
			}
			.description {
				grid-row: 1;
				grid-column: span 2;
				padding: 0;
			}
			.desktop-hidden {
				grid-row: 2;
				grid-column: span 3;
			}
			.list-block {
				grid-row: 3;
				grid-column: span 3;
				padding: 0;
			}
		}
	}
	.blocks:first-child {
		grid-column: 1;
	}
	.blocks:last-child {
		grid-column: 3;
	}
}
