/* fonts */

@font-face {
	font-family: 'Gyre Bonum';
	src: url(./assets/fonts/gyre-bonum/texgyrebonum-regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gyre Bonum';
	src: url(./assets/fonts/gyre-bonum/texgyrebonum-italic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gyre Bonum';
	src: url(./assets/fonts/gyre-bonum/texgyrebonum-bold.otf);
	font-weight: bold;
	font-style: normal;
}


/* responsive css */
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1200px) {
}
